<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MoodGraph - Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="../../bootstrap3/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../assets/css/gsdk.css" rel="stylesheet"/>

    <link href="../../assets/css/demo.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="../../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<!-- Navbar will come here -->
<div id="navbar">
    <nav class="navbar navbar-ct-azure" role="navigation">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>

            <a class="navbar-brand" href="/admin">MoodGraph</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Admin</a></li>
                <li class="active"><a href="/admin/users">Users</a></li>
                <li><a href="/admin/subscribers">Subscribers</a></li>
            </ul>

        </div>
    </nav>
</div>
<!-- end navbar -->

<div class="wrapper">
    <div class="container">
        {% block form %}

        <form role="form" action="/admin/users/message" method="post">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="To" name="email" value="{{ user_email }}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Subject"/>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" name="message" placeholder="Message"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
        {% endblock %}
    </div>
</div>

</body>

<script src="../../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../../assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="../../bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="../../assets/js/gsdk-checkbox.js"></script>
<script src="../../assets/js/gsdk-morphing.js"></script>
<script src="../../assets/js/gsdk-radio.js"></script>
<script src="../../assets/js/gsdk-bootstrapswitch.js"></script>
<script src="../../assets/js/bootstrap-select.js"></script>
<script src="../../assets/js/bootstrap-datepicker.js"></script>
<script src="../../assets/js/chartist.min.js"></script>
<script src="../../assets/js/jquery.tagsinput.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="../../assets/js/get-shit-done.js"></script>

</html>