<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MoodGraph - Graphs</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="../bootstrap3/css/bootstrap.css" rel="stylesheet"/>
    <link href="../assets/css/gsdk.css" rel="stylesheet"/>

    <link href="../assets/css/demo.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<!-- Navbar will come here -->
<nav class="navbar navbar-ct-azure" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/beta/home">MoodGraph</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/beta/home">Home</a></li>
                    <li><a href="/beta/journal">Journal</a></li>
                    <li class="active"><a href="/beta/graphs">Graphs</a></li>
                    <li><a href="/beta/support">Support</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/beta/user">{{ name }}</a></li>
                    <li>
                        <button class="navbar-btn btn btn-sm btn-default"><a href="/beta/logout"
                                                                             style="color:white">Logout</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- end navbar -->

<div class="main" style="background-image: url('/images/sweden2.jpg'); ">
    <br/>
    <div class="container">
        <div class="content">
            <div class="container-fluid card col-md-8">
                <h1 class="page-header" style="color:orange; font-weight:200">Graphs</h1>
                <div class="row">
                    {% if dates %}
                    <div class="col-md-6">
                        <div class="container-fluid card">
                            <h2><small>Most Recent Entries</small></h2>
                            <p style="font-size:12px; color:#454545">Mood<br/>Rating <span style="font-size:11px">(5 = most positive, -5 = most negative, 0 = neutral)</span></p>
                            <canvas id="recentChart" height="265" width="220"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid card">
                            <h2><small>Past 7 Days</small></h2>
                            <p style="font-size:12px; color:#454545">Mood<br/>Rating <span style="font-size:11px">(5 = most positive, -5 = most negative, 0 = neutral)</span></p>
                            <canvas id="weekChart" height="265" width="220"></canvas>
                        </div>
                    </div>
                    {% else %}
                    <p>There is nothing to show here. Add entries in your mood journal first.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="main_footer"></div>
</div>

</body>

<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="../bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="../assets/js/gsdk-checkbox.js"></script>
<script src="../assets/js/gsdk-morphing.js"></script>
<script src="../assets/js/gsdk-radio.js"></script>
<script src="../assets/js/gsdk-bootstrapswitch.js"></script>
<script src="../assets/js/bootstrap-select.js"></script>
<script src="../assets/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/chartist.min.js"></script>
<script src="../assets/js/jquery.tagsinput.js"></script>
<script src="../assets/js/demo.js"></script>
<script src="../assets/js/Chart.min.js"></script>
<script src="../assets/js/get-shit-done.js"></script>

<script>


    var data = {
        labels: [ {% for date in dates %} "{{ date }}", {% endfor %} "Date"],
        datasets: //noinspection BadExpressionStatementJS
                [
            {
                label: "",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "orange",
                pointColor: "lightblue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [{% for rating in ratings %} {{ rating +',' }}
        {% endfor %}]}]
    }


    var data2 = {
        labels: [ {% for date in dates2 %} "{{ date }}", {% endfor %} "Date"],
        datasets: //noinspection BadExpressionStatementJS
                [
            {
                label: "",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "orange",
                pointColor: "lightblue",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [{% for rating in ratings2 %} {{ rating +',' }}
        {% endfor %}]}]
    }


    var options = {

        ///Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines: true,

        //String - Colour of the grid lines
        scaleGridLineColor: "rgba(0,0,0,.05)",

        //Number - Width of the grid lines
        scaleGridLineWidth: 1,

        //Boolean - Whether the line is curved between points
        bezierCurve: false,

        //Number - Tension of the bezier curve between points
        bezierCurveTension: 0.4,

        //Boolean - Whether to show a dot for each point
        pointDot: true,

        //Number - Radius of each point dot in pixels
        pointDotRadius: 4,

        //Number - Pixel width of point dot stroke
        pointDotStrokeWidth: 1,

        //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
        pointHitDetectionRadius: 10,

        //Boolean - Whether to show a stroke for datasets
        datasetStroke: true,

        //Number - Pixel width of dataset stroke
        datasetStrokeWidth: 2,

        //Boolean - Whether to fill the dataset with a colour
        datasetFill: false,

        scaleOverride: true,
        scaleSteps: 10,
        scaleStepWidth: 1,
        scaleStartValue: -5,
        tooltipFillColor: "orange",
        tooltipXPadding: 6,
    };
    var ctx = $("#recentChart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var recentChart = new Chart(ctx).Line(data, options);
    var ctx2 = $("#weekChart").get(0).getContext("2d");
    var weekChart = new Chart(ctx2).Line(data2, options);


</script>

</html>