<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MoodGraph - Home</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="../bootstrap3/css/bootstrap.css" rel="stylesheet"/>
    <link href="../assets/css/gsdk.css" rel="stylesheet"/>

    <link href="../assets/css/demo.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<!-- Navbar will come here -->
<nav class="navbar navbar-ct-azure" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/beta/home">MoodGraph</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

            </button>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/beta/home">Home</a></li>
                    <li><a href="/beta/journal">Journal</a></li>
                    <li><a href="/beta/graphs">Graphs</a></li>
                    <li><a href="/beta/support">Support</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/beta/user">{{ name }}</a></li>
                    <li>
                        <button class="navbar-btn btn btn-sm btn-default"><a href="/beta/logout"
                                                                             style="color:white">Logout</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- end navbar -->

<div class="main" style="background-image: url('/images/sweden6.jpg'); ">
    <br/>

    <div class="container">
        <div class="content">
            <div class="card col-md-6">
                <div class="container-fluid">
                    {% block welcome %}
                    <h1 class="page-header" style="color:orange; font-weight:200">Welcome {{ name }}!</h1>
                    {% endblock %}

                    <div class="container-fluid card">
                        <h2 class="text-center page-header" style="color:#9c9c9c; font-weight:200">
                            News
                        </h2>
                        <ul>
                            <li>Public access to the beta will begin on February 1, 2015.</li>
                            <li>First official release is scheduled for May 1, 2015.</li>
                        </ul>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_footer"></div>
</div>

</body>

<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="../bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="../assets/js/gsdk-checkbox.js"></script>
<script src="../assets/js/gsdk-morphing.js"></script>
<script src="../assets/js/gsdk-radio.js"></script>
<script src="../assets/js/gsdk-bootstrapswitch.js"></script>
<script src="../assets/js/bootstrap-select.js"></script>
<script src="../assets/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/chartist.min.js"></script>
<script src="../assets/js/jquery.tagsinput.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="../assets/js/get-shit-done.js"></script>

</html>