<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MoodGraph - Journal</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="../bootstrap3/css/bootstrap.css" rel="stylesheet"/>
    <link href="../assets/css/gsdk.css" rel="stylesheet"/>

    <link href="../assets/css/demo.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<!-- Navbar will come here -->
<div id="navbar">
    <nav class="navbar navbar-ct-azure" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/beta/home">MoodGraph</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/beta/home">Home</a></li>
                        <li class="active"><a href="/beta/journal">Journal</a></li>
                        <li><a href="/beta/graphs">Graphs</a></li>
                        <li><a href="/beta/support">Support</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/beta/user">{{ name }}</a></li>
                        <li>
                            <button class="navbar-btn btn btn-sm btn-default"><a href="/beta/logout"
                                                                                 style="color:white">Logout</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- end navbar -->

<div class="main" style="background-image: url('/images/sweden1.jpg'); ">
    <br/>

    <div class="container">
        <div class="content">
            <div class="card col-md-8">
                <div class="container-fluid">
                    <!-- Main jumbotron for a primary marketing message or call to action -->
                    <h1 class="page-header" style="color:orange; font-weight:200">Journal</h1>

                    <div class="container-fluid card">
                        <form role="form" action="/beta/journal" method="post">
                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>How are you feeling {{ name }}?</small>
                                    </h2>

                                    <select name="mood" class="selectpicker"
                                            data-style="form-control btn-info btn-fill btn-block"
                                            data-menu-style="dropdown-blue">
                                        <option value="Angry">Angry</option>
                                        <option value="Anxious">Anxious</option>
                                        <option value="Disgusted">Disgusted</option>
                                        <option value="Guilty">Guilty</option>
                                        <option value="Happy">Happy</option>
                                        <option value="Hated">Hated</option>
                                        <option value="Hopeful">Hopeful</option>
                                        <option value="Jealous">Jealous</option>
                                        <option selected value="Neutral">Neutral</option>
                                        <option value="Optimistic">Optimistic</option>
                                        <option value="Peaceful">Peaceful</option>
                                        <option value="Sad">Sad</option>

                                    </select>
                                </div>
                                <div class="container-fluid col-md-6" id="slider">
                                    <h2>
                                        <small>How strong is your mood?</small>
                                    </h2>
                                    <div class="container-fluid rating_slider">
                                        <div id="slider-default" class="slider-info" name="slider"></div>
                                        <input type="hidden" name="slider_value" value="1"/>
                                    </div>
                                    <br/>
                                    <br/>
                                    <span class="label label-info pull-left">Weak</span>
                                    <span class="label label-info pull-right">Strong</span>
                                    <br/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>Do you feel safe at the moment?</small>
                                    </h2>
                                    <div class="switch"

                                         data-on-label="<i style='font-style:normal'>Yes</i>"

                                         data-off-label="<i style='font-style:normal'>No</i>">

                                        <input name="safe" type="checkbox" checked/>

                                    </div>
                                </div>
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>What affected your mood today?</small>
                                    </h2>
                                    <textarea name="description" class="form-control"
                                              placeholder="Type here..."></textarea>
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card col-md-8">
                <div class="container-fluid">
                    <h1 class="page-header" style="color:orange; font-weight: 200">Recent Entries</h1>

                    {% if entries %}
                    {% for entry in entries %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="content" style="height:210px">
                                <p class="description"><span class="label label-info">Mood</span> {{ entry.mood }}
                                </p>
                                {% if entry.moodValue != 0 %}
                                <p class="description"><span class="label label-info">Mood rating</span> {{
                                    entry.moodValue}}
                                </p>
                                {% else %}
                                <p class="description"><span class="label label-info">Mood rating</span> N/A<i
                                        class="fa fa-times text-warning"></i>
                                </p>
                                {% endif %}
                                <p class="description" style="word-wrap: break-word"><span
                                        class="label label-info">Description</span> {{ entry.description }}</p>
                                {% if entry.safe %}
                                <p class="description"><span class="label label-info">Safe</span> <i
                                        class="ct-green fa fa-check-circle-o"></i></p>
                                {% else %}
                                <p class="description"><span class="label label-info">Safe</span> <i
                                        class="ct-red fa fa-times"></i></p>
                                {% endif %}

                                <div class="footer">
                                    <div class="author">
                                        <span> {{ entry.datetime.strftime("%x -- %I:%M %p") }}</span>
                                    </div>
                                    <div class="stats pull-right">
                                        <form action="/beta/journal/delete" method="post">
                                            <button type="submit" rel="tooltip" title="Remove"
                                                    value="{{ entry.key.id() }}" name="delete_button"
                                                    class="btn btn-danger btn-simple btn-xs">

                                                <i class="fa fa-times"></i>

                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>There are no entries to show yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>

</body>

<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="../bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="../assets/js/gsdk-checkbox.js"></script>
<script src="../assets/js/gsdk-morphing.js"></script>
<script src="../assets/js/gsdk-radio.js"></script>
<script src="../assets/js/gsdk-bootstrapswitch.js"></script>
<script src="../assets/js/bootstrap-select.js"></script>
<script src="../assets/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/chartist.min.js"></script>
<script src="../assets/js/jquery.tagsinput.js"></script>

<script src="../assets/js/get-shit-done.js"></script>

</html>