<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MoodGraph - Support</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <link href="../bootstrap3/css/bootstrap.css" rel="stylesheet"/>
    <link href="../assets/css/gsdk.css" rel="stylesheet"/>

    <link href="../assets/css/demo.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>
<body>

<!-- Navbar will come here -->
<div id="navbar">
    <nav class="navbar navbar-ct-azure" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="/beta/home">MoodGraph</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/beta/home">Home</a></li>
                        <li><a href="/beta/journal">Journal</a></li>
                        <li><a href="/beta/graphs">Graphs</a></li>
                        <li class="active"><a href="/beta/support">Support</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/beta/user">{{ name }}</a></li>
                        <li>
                            <button class="navbar-btn btn btn-sm btn-default"><a href="/beta/logout"
                                                                                 style="color:white">Logout</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- end navbar -->

<div class="main" style="background-image: url('/images/sweden3.jpg'); ">
    <br/>

    <div class="container">
        <div class="content">
            <div class="container-fluid card col-md-8">
                <div class="container-fluid">
                    <h1 class="page-header" style="color:orange; font-weight:200">Supports</h1>
                    {% for support in supports %}
                    <div class="container-fluid col-md-6">
                        <div class="card">
                            <div class="container-fluid">
                                <h4>Name: <span style="font-weight: lighter">{{ support.name }}</span></h4>
                                <h4>Relationship: <span style="font-weight: lighter">{{ support.relationship }}</span></h4>
                                <h4>Email: <span style="font-weight: lighter">{{ support.email }}</span></h4>
                                <h4>Phone Number: <span style="font-weight: lighter">{{ support.phone_number }}</span></h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card container-fluid col-md-8">
                <div class="container-fluid">
                    <h1 class="page-header" style="color:orange; font-weight: 200">Manage Supports</h1>

                    <div class="container-fluid card">
                        <h2 class="page-header">Add A Support</h2>

                        <form role="form" action="/beta/support" method="post">
                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>What relationship does this person have with you?</small>
                                    </h2>

                                    <select name="relationship" class="selectpicker"
                                            data-style="form-control btn-info btn-fill btn-block"
                                            data-menu-style="dropdown-blue">
                                        <option value="Parent">Parent</option>
                                        <option value="Sibling">Sibling</option>
                                        <option value="Friend">Friend</option>
                                        <option value="Child">Child</option>
                                    </select>
                                </div>
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>What is their name?</small>
                                    </h2>
                                    <input name="name" type="text" class="form-control" placeholder="Name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>What is their email address?</small>
                                    </h2>
                                    <input name="email" type="text" class="form-control" placeholder="Email Address"/>
                                </div>
                                <div class="container-fluid col-md-6">
                                    <h2>
                                        <small>What is their phone number?</small>
                                    </h2>
                                    <input name="phone" type="text" class="form-control" placeholder="Phone #"/>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="container-fluid col-md-6">
                                    <button type="submit" class="btn btn-info">Add Support</button>
                                </div>
                            </div>
                        </form>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
</div>

</body>

<script src="../assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="../bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="../assets/js/gsdk-checkbox.js"></script>
<script src="../assets/js/gsdk-morphing.js"></script>
<script src="../assets/js/gsdk-radio.js"></script>
<script src="../assets/js/gsdk-bootstrapswitch.js"></script>
<script src="../assets/js/bootstrap-select.js"></script>
<script src="../assets/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/chartist.min.js"></script>
<script src="../assets/js/jquery.tagsinput.js"></script>

<script src="../assets/js/get-shit-done.js"></script>

</html>